<!DOCTYPE html>
<html lang="es">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HitGames | Detalle</title>

    <!-- FUENTE GOOGLE FONTS : Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- ICONS: Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <!-- ICONS: Line Awesome -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <!-- Animaciones AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">


    <!-- Mis Estilos -->
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="header">
              <!-- =================================
           HEADER MENU
        ================================== -->
        <div class="hm-header">

            <div class="container">
                <div class="header-menu">

                    <div class="hm-logo">
                        <a class="anclaLogo" href="./index.html">
                            <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                                <span>HitGames</span>
                         </a>
                    </div>


                    <nav class="hm-menu">
                        <ul>
                            <li><a href="./registrarse.html">Registrarse</a></li>
                            <li><a href="./iniciosesion.html">Iniciar Sesión</a></li>
                        </ul>


                        <div class="hm-icon-cart">
                            <a href="#">
                                <i class="las la-shopping-cart"></i>
                                <span>0</span>
                            </a>
                        </div>

                        <div class="icon-menu">
                            <button type="button"><i class="fas fa-bars"></i></button>
                        </div>

                    </nav>

                </div>
            </div>

        </div>

        <!-- =================================
           HEADER MENU Movil
        ================================== -->
        <div class="header-menu-movil">
            <button class="cerrar-menu"><i class="fas fa-times"></i></button>
            <ul>
                <li><a href="./registrarse.html">Registrarse</a></li>
                <li><a href="./iniciosesion.html">Iniciar Sesión</a></li>
            </ul>
        </div>

    </header>
    
    <main id="mainDetalle" class="mainDetalle">
      <section class="detalle"  data-aos="zoom-in" >
        <div class="contenedorDetalle" >
            <div class="imgDetalle">
                <img src="../assets/img/peli_1.jpg" alt="mario pelicula 2023">
            </div>
            <div class="textoDetalle">
                <h1>El Hobbit (2023)</h1>
                <p> de J. R. R. Tolkien (Author), Manuel Figueroa ,(Translator)</p>
                <h2>Overview</h2>
                <p>Smaug parecía profundamente dormido cuando Bilbo espió una vez más desde la entrada. ¡Pero fingía estar dormido! ¡Estaba vigilando la entrada del túnel!... Sacado de su cómodo agujero-hobbit por Gandalf y una banda de enanos, Bilbo se encuentra de pronto en medio de una conspiración que pretende apoderarse del tesoro de Smaug el Magnífico, un enorme y muy peligroso dragón...</p>
                <div class="contenedorCreditos">
                    <div>
                        <h3>Editorial</h3>
                        <p>Planeta Publishing; Translation edición (12 Diciembre 2017)</p>
                    </div>
                    <div>
                        <h3>Caracteristicas</h3>
                        <p>Idioma: Español ‏<br>
                           Tapa Blanda : 288 paginas ‏<br>
                           ISBN-10 ‏ : ‎ 6070724143<br>
                           ISBN-13 ‏ : ‎ 978-6070724145<br>
                           Dimensiones ‏ : ‎ 5 x 0.8 x 7.5 pulgadas</p>
                    </div>
                </div>
               
            </div>
        </div>


      </section>

    </main>
    <footer class="footer">
        <nav class="navegacion">
            <ul class="listaNav">
                <li class="listaItem"><a class="linkNav" href="">Términos y condiciones</a></li>
                <li class="listaItem"><a class="linkNav" href="">Preguntas frecuentes</a></li>
                <li class="listaItem"><a class="linkNav" href="">Ayuda</a></li>
                <li class="listaItem"><a class="linkNav administradorPeliculas" href="">Administrador</a></li>
            </ul>
        </nav>
        <a href="#main" class="flechaArriba">
            <img src="../assets/img/flecha-hacia-arriba.png" alt="ir arriba flecha">
        </a>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
    AOS.init();
    </script>
</body>
</html>